:root {
    --bright-purple: #9129D6;
    --light-purple: #B54FF8;
    --gradient-bottom: #AB99E2;
    --soft-purple-even-row: #F6E9FF;
    --hover-row: #ECE5F3;
    --dark-purple-bg: #291B33;
    --white: #FFFFFF;
    --white-alias: #FFF;
    --translucent-white: #FFFFFF59;
    --black: #000;
    --light-gray: #C1C1C1;
}
