:root {
   --brand-color: #090A78;
   --primary-color: #2223CE;
   --secondary-color: #6E6FDF;
   --brand-text-color: #16152D;
   --brand-text-color-light: #E7E7E7;
   --text-col: #000;
   --text-col-light: #FFF;
}